.flexRow {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 5px;
   margin: 50px;
   justify-content: space-around;
   border: 1px solid lightgrey;
   border-radius: 5px;
   font-weight: 500;
}
