.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: monospace;
}

.income {
  background-color: rgb(162, 255, 210);
}

.expense {
  background-color: lightpink;
}

.day {
  font-weight: bolder;
  font-size: 1.1rem;
  width: 5%;
  margin-left: 5px;
}

.category {
  font-weight: bolder;
  font-size: 1.1rem;
}

.value {
  width: 30%;
  text-align: right;
  margin-right: 20px;
}
